<script src="~/js/Test.js"></script>

<label>功能码</label>
<input type="text" name="senddata" id="senddata" class="form-inline form-control" placeholder="请输入功能码"/>
<button id="send" class="btn btn-default">发送</button>

<br />
<br />
<dl id="test" class="list-unstyled"></dl>