@if (ViewData["Warning"] != null)
{
    <p>@Html.ViewData["Warning"]</p>
}
<form asp-controller="User">
    <div class="form-group">
        <label>原密码</label>
        <input id="opassword" name="opassword" class="form-control">
    </div>
    <div class="form-group">
        <label>新密码</label>
        <input id="npassword" name="npassword" type="password" class="form-control">
    </div>
    <button asp-action="EditPassword" id="submit" class="btn btn-default" type="submit">确定</button>
    <button asp-action="BackToIndex" class="btn btn-default">返回</button>
</form>